body{
    height: max-content;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background:url(tile1.png);
    background-size:100%;
    background-color: rgb(252, 221, 255);
    
}


#Assaf{
    max-width: 50%;
    max-height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.fractal {
    max-width: 40%;
    max-height: 40%;
}


#G1{
  
}
#G1h{
   
}  
#G2{

    
}
#G2h{

    
}
#G3{
    /* background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border: transparent;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to right, rgb(68, 0, 255) 70%, rgb(255, 115, 0) 70%);
    border-image-slice: 1; */
}
#G4{

  
}
#G5{
    height: 40px;
   
   
 }
#G6{
    height: 40px;
    
}
#G6h{
    height: 40px;
    
}
#G7{
    height: 40px;
   
    
}
#G8{
    height: 40px;
  
}
 #G9{
    height: 40px;
   
    
 }
 #G10{
    height: 40px;

}
#G11{
    height: 40px;
}
#G12{
    height: 40px;
 
}
#G12h{

    height: 40px;
}
 #G13{
    height: 40px;
   
   
 }
 #G14{
    height: 40px;
  
   
}
#G15{
    height: 40px; 
   
   
}
#G16{
    height: 40px;
   
   
}
#G16h{
    height: 40px;
  
   
}
 #G17{
   
  
 }
 #G18{

    
}
#G19{

}
#G20{

  
}

.btn:hover{
    background-color: #f1f15ac7 !important;
    color: black !important;
    cursor: pointer;
}
.hbtn:hover{
    background-color: #f1f15ac7 !important;
    color: black !important;
    cursor: pointer;
}
table {
    align-items: center;
    padding: 0px;
    border-radius: 5px;
    
}
table tr, td, th{
    
    border-radius: 5px;
    padding: 0px;
    background-color: white;
}

.tableB{
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
    margin-bottom: 12px;
}
.AM{
    text-align: center;
    width: 60px;
}
.days{
   text-align: center;
   width: 250px;
   color: black;
}
.tableH th{
    width: 280px;
}
.tableH{
   
    margin-bottom: 5px;
}
.btn{
    margin: 0px;
    font-weight: bold;
    border: transparent;
    border-radius: 5px;
    text-align: center;
    font-size: 8.5px;
    height: 30px;
    width: 280px;
    width:100%;
}
.color{
    background-color: blue;
}
.hbtn{
    font-weight: bold;
    border: transparent;
    border-radius: 5px;
    font-size: 7px;
    background-color: white;
    height: 30px;
    width: 140px;
}
.prereq {
    background-color: #fdff9f !important;
    color: black !important;
}
.y {
    background-color: #f1f15a !important;
    color: black !important;
} /*
.related {
    background-color: rgb(246, 221, 248);
    color: black !important;
} */
.algebra {
    background-color: rgb(211, 255, 198);
}
.structures {
    background-color: rgb(196, 255, 214);

}

.analysis {
    background-color: rgb(189, 255, 229);
}

.cs {
    background-color: rgb(204, 255, 245);
}

.discrete{
    background-color: rgb(163, 255, 250);
}

.games {
    background-color: rgb(184, 244, 255);
}

.graph {
    background-color: rgb(193, 234, 255);
}

.irl {
    background-color: rgb(184, 215, 255);
}

.number {
    background-color: rgb(203, 209, 255);
}

.rigid {
    background-color: rgb(214, 199, 255);
}

.squishy {
    background-color: rgb(234, 208, 255);
}

.symmetries {
    background-color: rgb(237, 199, 247);
}

p{
    margin-top: 50px;
    margin-left: 12%;
    margin-right: 18%;
    size: 20px;
    background-color: white;
    padding: 20px;
    padding-left: 80px;
    padding-right: 60px;
    border: 2px solid black;
    border-radius: 3px;
    font-weight: 100;
}
ps{
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
    size: 20px;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 3px;
}
b1{
    font: bold;
    font-size: 10px;
}
blue{
    color: blue;
}
purple{
    color: rgb(255, 0, 217);
}
red{
    color: rgb(255, 0, 0);
}
grey{
    color: rgb(159, 159, 159);
}
.info {
    display: none;
}
#box{
    transition: 1s;
    width: 180px;
    height: 40x;
    position:fixed;
    top: 0;
    right: 0;
    background-color: white;
    margin-right: 0px;
    margin-top:110px;
    border:1px;
    border-right:none;

}
#chili{
    width: 9px;
    height: 9px;
}

